/* Vendor css */

@import url(../vendor/normalize.css);

/* Vendor fonts */

@import url(../vendor/fonts/Inter_Web/inter.css);

/* CSS - blocks */

.page {
  background-color: #2A2C2F;
  margin: 0 auto;
  padding: 28px 48px 24px 48px;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
}

.content {
  display: flex;
  flex-direction: column;
}

/* Shared classes */

.link {
  text-decoration: none;
  color: #FFFFFF;
}

/* Header*/

.header {
  max-width: 1184px;
  padding-bottom: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 176px;
  min-height: 52px;
}

.header__link-list {
  display: flex;
}

.header__lang-link {
  display: flex;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  padding-right: 18px;
  padding-top: 18px;
}

.header__lang-link:last-of-type {
  padding-right: 0;
}

.header__lang-link_active {
  text-decoration-line: underline;
}

/* Lead - section */

.lead {
  max-width: 985px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 148px 92px;
}

.lead__title {
  margin: 0 auto 32px;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

.lead__subtitle {
  margin: 0 auto 64px;
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.lead__image {
  width: 984px;
  height: 615px;
}

.lead__caption {
  margin: 8px 0 0;
  padding: 0;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  align-self: flex-start;
}

/* Intro - section */

.intro {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 690px;
  padding: 0 0 92px 100px;
}

.intro__title {
  margin: 0;
  padding: 0 0 40px;
  max-width: 690px;
  width: 100%;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  margin: 0;
  padding: 0 0 33px;
  max-width: 690px;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.intro__list {
  margin: 0;
  padding: 0;
  max-width: 690px;
  width: 100%;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.intro__list_accent {
  font-weight: bold;
}

/* Photo-grid - section */

.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  padding-bottom: 92px;
}

.photo-grid__item {
  width: 100%;
  object-fit: cover;
}

/* Places - section */

.places {
  max-width: 984px;
  padding: 0 0 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place {
  width: 100%;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-gap: 48px 40px;
  grid-template-areas:
  "title website"
  "image paragrahs";
}

.place:last-of-type {
  margin: 0;
}

.place__title {
  margin: 0;
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__website {
  grid-area: website;
  align-self: end;
}

.place__url-title {
  margin: 0 0 12px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #AAA;
}

.place__link {
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
}

.place__link:hover {
  opacity: 80%;
}

.place__image {
  max-width: 100%;
  grid-area: image;
  max-width: 460px;
  max-height: 460px;
}

.place__paragraphs {
  grid-area: paragrahs;
}

.place__paragraph {
  margin: 0 0 26px;
  font-size: 18px;
  line-height: 29px;
  max-width: 484px;
  width: 100%;
}

/* Cover - section */

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 1184px;
}

.cover__background {
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  background-image: url(../images/background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFF;
}

.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  background-color: #2A2C2F;
  opacity: 30%;
  text-decoration: none;
  z-index: 2;
}

.cover__overlay:hover {
  opacity: 80%;

}

.cover__title {
  margin: 0; 
  padding: 0 0 32px;
  max-width: 560px;
  width: 100%;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFF;
  text-align: center;
  align-self: center;
  z-index: 3;
}

.cover__subtitle {
  margin: 0;
  padding: 0;
  max-width: 360px;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  align-self: center;
  z-index: 3;
}

/* Footer */

.footer {
  max-width: 1184px;
  width: 100%;
  padding: 92px 0 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__link {
  font-size: 16px;
  line-height: 18px;
  margin: 0 18px 0 0;
  text-decoration: none;
}

.footer__link:last-of-type {
  margin: 0;
}
